
<!DOCTYPE html>
<html>
<head>

  <!-- TO DO: Think of a legit title for this -->
  <title>New NYC Subway</title>

  <!-- TO DO: Confirm necessity and purpose -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <!--  -->
  <link rel="stylesheet" href="style.css" />

  <!-- TO DO: Load these all locally -->
  <!-- TO DO: Roll these up with Gulp -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.css" />
  <script src="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet-src.js"></script>

  <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.8/esri-leaflet.js"></script>

</head>

<body>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.0.2/esri-leaflet-geocoder.css">
    <script src="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.0.2/esri-leaflet-geocoder.js"></script>

    <!-- TO DO: Let's see if we can use vanilla Leaflet -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- Load all bundled Leaflet modules -->
    <!-- TO DO: Do we need all of these?! -->
    <script src="static/js/leafletModules.js"></script>